@import url('https://fonts.googleapis.com/css?family=Abel');
body {
    font-family: 'Abel', sans-serif;
    margin:0px;
    padding:0px;
    background-color:#abd8f9;
}

#wrapper{
    width:950px;
    padding:15px;
    background-color: white;
    margin:0px auto;
    overflow: auto;
}

header{
    height:100px;
	margin:0 0 10px 0;
    text-align:center;     
    border-bottom:5px solid red;
}

header img{
    width: 200px;
}

nav{
    height:40px;
    margin:0 0 10px 0;
    border-bottom:5px solid red;
    padding:5px;
}

aside{
    background-color:#3eb422;
	height:250px;
	width:210px;
	float: left;
	margin:0 0px 10px 0;
    padding:10px;
}

aside img{
    width: 120px;
}
#main{
    float: left; 
    width:700px;
    height:250px;
    margin:0 0 10px 0;
    padding:10px;
    background-color:#5195bb;
}

#main p{
    margin-top:0px;
}
footer {
    text-align:center;
	background:#ea0f0f;
	height:40px;
	clear:both;
    padding-top:10px;
    font-style:italic;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    background-color:red;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px; 
    margin-right:5px;
}



nav ul li a:hover:not(.active) {
    background-color:  #c41414;
}

.active {
    background-color: #0c3e9a;
    border:1px solid black;
}